.hours{
    width: 1px;
    background-color: white;
    height: 50px;
    transform: rotate(90deg);
}

.minutes{
    width: 1px;
    background-color: white;
    height:100px;
    transform: rotate(0deg);
}


.seconds{
    width: 1px;
    background-color: orange;
    height: 100px;
    // transform: rotate(170deg);
}

.clock-container {
    border: 1px solid;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(180deg);
    border-radius: 50%;
}

.clock-hand {
    transform-origin: top center;
    position: absolute;
    top: 100px;
}