:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme='dark'] {
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .themeButton{
    margin-left: 10px;
    border-radius: 0;
    padding: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  